 # MongoDB
 MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/payments_db

 # JWT
 JWT_SECRET=SuperSecretKey_Joker_2026
 JWT_EXPIRES_IN=7d

 # YooKassa (Тестовые ключи)
 YOOKASSA_SHOP_ID=123456
 YOOKASSA_SECRET_KEY=test_abcdef123456789xyz
 YOOKASSA_RETURN_URL=https://payment-system-alpha-eight.vercel.app/cards

 # Port
 PORT=3000